<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contxet="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--spring整合mabatis-->
    <!--1：数据库相关参数配置-->
    <contxet:property-placeholder location="classpath:jdbc.properties"/>

    <!--2：数据库连接池配置-->
    <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    <!--<bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--连接属性配置-->
<!--        <property name="driverClassName" value="${jdbc.dirverName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>-->
        <property name="driverClass" value="${jdbc.dirverName}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <!--c3p0私有属性-->
        <property name="maxPoolSize" value="30"/>
        <property name="minPoolSize" value="10"/>
        <!--<property name="initialPoolSize" value="15"/>-->
         <!--关闭连接不自动提交-->
        <property name="autoCommitOnClose" value="false"/>
        <!--获取连接超时时间-->
        <!--<property name="checkoutTimeout" value="1000"/>-->
        <!--获取失败重试次数-->
        <property name="acquireIncrement" value="5"/>
    </bean>

    <!--3：配置sqlSesisionFactory对象-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据库连接池-->
        <property name="dataSource" ref="datasource"/>
        <!--配置mybatis全局配置文件路径-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--配置扫描包路径-->
        <property name="typeAliasesPackage" value="com.tlnb.entity"/>
        <!--配置mapper文件路径-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!--4:配置扫描Dao接口，动态实现接口，并且注入到spring容器中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入sqlSessionfactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--配置要实现的接口所在的包-->
        <property name="basePackage" value="com.tlnb.dao"/>
     </bean>

    <!--注入redisDao-->
    <bean id="redisDao" class="com.tlnb.dao.cache.RedisDao">
        <constructor-arg name="ip" value="localhost"/>
        <constructor-arg name="port" value="6379"/>
    </bean>

 </beans>